# Project Files unneeded by docker
.dockerignore

.git
.gitignore
.github
.clang-format

AUTHORS
CONTRIBUTING.md
CONTRIBUTORS
LICENSE
README.md
docs

# CMake
cmake/docs
cmake/README.md

# CI
ci/Makefile
ci/docker
ci/docs
ci/cache

# Native build
build/
build*/

# Editor directories and files
*.user
*.swp
